body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #89f4b9;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}

.nav-list li {
    flex: 1;
}

.nav-list li a, .dropbtn {
    display: block;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-list li a:hover, .dropdown:hover .dropbtn {
    background-color: #74c0d3;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(60, 154, 192);
    z-index: 1001;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.content-wrapper {
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    padding-top: 60px; 
    margin: 0;
}

.content {
    background: url("background1.jpg") no-repeat center center fixed;;
    scroll-snap-align: start;
    background-size: cover;
    height: 100vh;
}

p {
    border: 10px solid rgb(132, 212, 232,0);  
    height: 30px;
    border-radius:25px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    background-color: rgb(133, 215, 243,0);
  }

ps {
    border: 10px solid rgb(132, 212, 232,0);  
    height: 30px;
    border-radius:25px;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    background-color: rgb(133, 215, 243,0);
  }
body {
    background-color: #b7f9f4;
    background-image: url("background1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
  
.container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 300px;
  }
   
.container img {
      max-width: 100%; 
      height: auto; 
  }

#quote {
    text-align: center;
    font-family: 'STKaiti', sans-serif;
    font-size: 50px;
    margin-top: 20px;
    overflow: hidden; 
    white-space: nowrap;
    animation: reveal 5s forwards; 
}

.left-aligned-kaiti-text {
    text-align: left;
    font-family: 'KaiTi', '楷体', serif; 
    font-size: 30px;
    margin-left: 10px;
    margin-right: auto;
    width: 50%; 
  }

.modelcontent {
    display: flex; 
    align-items: center; 
  }
  
.rule {
    width: auto; 
    height: auto; 
  }

  .center-container {
    display: flex;
    justify-content: center;
    height: 100vh; 
  }


.image-container {
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6); 
    width: 1200px;
    height: 650px; 
    overflow: hidden; 
    position: relative;
  }
  
.image-container img {
    width: 100%; 
    height: auto; 
    position: absolute; 
    top: 0; 
    left: 0; 
  }